@page "/"

<h1>Activity Weather Scheduler</h1>

<p>Use this site to schedule activities when the weather is right.</p>

<p>Check the weather from the weather page.</p>

<p>Add activites to a list and get an ICal sent to your email when the time is right on the activites page.</p>