/*
	This file is to show how CSS and other static resources (such as images) can be
	used from a library project/package.
*/

.my-component {
	border: 2px dashed red;
	padding: 1em;
	margin: 1em 0;
	background-image: url('background.png');
}

.jsgrid-grid-header {
	text-align: center;
	border-collapse: collapse;
	background: #ebebeb;
}

.jsgrid-row-item:hover {
	background: #9fcdf4;
}

th, td {
	padding: 15px;
	border: 1px solid #d1d1d1;
	text-align: center;
}

.pagebutton {
	margin-right: 5px;
	margin-top: 5px;
}

.currentpage {
	background-color: dodgerblue;
	color: white;
}

.ec-btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.ec-btn-download {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

	.ec-btn-download:hover {
		text-decoration: none;
		color: #fff;
		background-color: #286090;
		border-color: #204d74;
	}
